*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.loading-screen {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}

.loading-screen h2 {
  width: 50%;
  margin: 3rem auto;
  font-size: 2em;
  text-align: center;
  color: #024170;
}

.loading-screen img {
  width: 25%;
  height: auto;
}

.loading-screen progress {
  margin: 2em auto;
}
.loading-screen progress::-webkit-progress-value {
  transition: 200ms;
}

.stats {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #78909c;
  border-radius: 5px;
  margin: 0;
  padding: 0.5em;
  transition: opacity 150ms ease;
}

.stats li {
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: 300;
  list-style: none;
  color: #eee;
}
