*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

p,
h2 {
  margin: 0.5em;
}

.loading-screen {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  z-index: 15;
}

.loading-screen h2 {
  width: 50%;
  margin: 3rem auto;
  font-size: 2em;
  text-align: center;
  color: #024170;
}

.loading-screen img {
  width: 25%;
  height: auto;
}

.loading-screen progress {
  margin: 2em auto;
}
.loading-screen progress::-webkit-progress-value {
  transition: 200ms;
}

.floating-stats {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #78909c;
  border-radius: 5px;
  margin: 0;
  padding: 0.5em;
  transition: opacity 150ms ease;
}

.stats li {
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: 300;
  list-style: none;
  color: #eee;
}

.control-pannel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  margin: 0;
  padding: 0.5em;
  /* max-width: 15rem; */
  color: #fff;
  background-color: #78909c;
  border-radius: 5px;
  opacity: 0.95;
  transition: opacity 150ms ease;
  backdrop-filter: blur(2px);
  z-index: 10;
}

.control-pannel canvas {
  width: 5em;
  height: 5em;
}

.turret-stats {
  width: 100%;
}

.turret-stats .stats li {
  padding: 0.25em;
}
